/NotifierHost/Debug/AppSingleInstance.obj
/NotifierHost/Debug/AutostartManager.obj
/NotifierHost/Debug/JiraNotifier.Build.CppClean.log
/NotifierHost/Debug/JiraNotifier.log
/NotifierHost/Debug/JiraNotifier.pch
/NotifierHost/Debug/JiraNotifier.res
/NotifierHost/Debug/JiraNotifier.tlb
/NotifierHost/Debug/MainDlg.obj
/NotifierHost/Debug/NotifierHost.obj
/NotifierHost/Debug/NotifierHost.tlog/CL.read.1.tlog
/NotifierHost/Debug/NotifierHost.tlog/CL.write.1.tlog
/NotifierHost/Debug/NotifierHost.tlog/NotifierHost.lastbuildstate
/NotifierHost/Debug/NotifierHost.tlog/cl.command.1.tlog
/NotifierHost/Debug/NotifierHost.tlog/link.command.1.tlog
/NotifierHost/Debug/NotifierHost.tlog/link.read.1.tlog
/NotifierHost/Debug/NotifierHost.tlog/link.write.1.tlog
/NotifierHost/Debug/NotifierHost.tlog/midl.command.1.tlog
/NotifierHost/Debug/NotifierHost.tlog/midl.read.1.tlog
/NotifierHost/Debug/NotifierHost.tlog/midl.write.1.tlog
/NotifierHost/Debug/NotifierHost.tlog/rc.command.1.tlog
/NotifierHost/Debug/NotifierHost.tlog/rc.read.1.tlog
/NotifierHost/Debug/NotifierHost.tlog/rc.write.1.tlog
/NotifierHost/Debug/NotifierHost_i.obj
/NotifierHost/Debug/SettingsControl.obj
/NotifierHost/Debug/ShowWindowCommand.obj
/NotifierHost/Debug/jiraconnection_contract_i.obj
/NotifierHost/Debug/notifierhost_contract_i.obj
/NotifierHost/Debug/objmdl_contract_i.obj
/NotifierHost/Debug/stdafx.obj
/NotifierHost/Debug/vc120.idb
/NotifierHost/Debug/vc120.pdb
/NotifierHost/Debug/vc140.idb
/NotifierHost/Debug/vc140.pdb
/NotifierHost/Debug/viewmdl_contract_i.obj
/NotifierHost/JiraNotifier.aps
/NotifierHost/JiraNotifier.vcxproj.user
/NotifierHost/JiraNotifier_i.c
/NotifierHost/NotifierHost_i.c
/NotifierHost/NotifierHost_i.h
/NotifierHost/Release/AppSingleInstance.obj
/NotifierHost/Release/AutostartManager.obj
/NotifierHost/Release/JiraNotifier.log
/NotifierHost/Release/JiraNotifier.pch
/NotifierHost/Release/JiraNotifier.res
/NotifierHost/Release/JiraNotifier.tlb
/NotifierHost/Release/MainDlg.obj
/NotifierHost/Release/NotifierHost.obj
/NotifierHost/Release/NotifierHost.tlog/CL.read.1.tlog
/NotifierHost/Release/NotifierHost.tlog/CL.write.1.tlog
/NotifierHost/Release/NotifierHost.tlog/NotifierHost.lastbuildstate
/NotifierHost/Release/NotifierHost.tlog/cl.command.1.tlog
/NotifierHost/Release/NotifierHost.tlog/link.command.1.tlog
/NotifierHost/Release/NotifierHost.tlog/link.read.1.tlog
/NotifierHost/Release/NotifierHost.tlog/link.write.1.tlog
/NotifierHost/Release/NotifierHost.tlog/midl-midlc-cl.read.1.tlog
/NotifierHost/Release/NotifierHost.tlog/midl-midlc-cl.write.1.tlog
/NotifierHost/Release/NotifierHost.tlog/midl-midlc.read.1.tlog
/NotifierHost/Release/NotifierHost.tlog/midl-midlc.write.1.tlog
/NotifierHost/Release/NotifierHost.tlog/midl.command.1.tlog
/NotifierHost/Release/NotifierHost.tlog/midl.read.1.tlog
/NotifierHost/Release/NotifierHost.tlog/midl.write.1.tlog
/NotifierHost/Release/NotifierHost.tlog/rc.command.1.tlog
/NotifierHost/Release/NotifierHost.tlog/rc.read.1.tlog
/NotifierHost/Release/NotifierHost.tlog/rc.write.1.tlog
/NotifierHost/Release/NotifierHost.tlog/unsuccessfulbuild
/NotifierHost/Release/NotifierHost_i.obj
/NotifierHost/Release/SettingsControl.obj
/NotifierHost/Release/ShowWindowCommand.obj
/NotifierHost/Release/jiraconnection_contract_i.obj
/NotifierHost/Release/notifierhost_contract_i.obj
/NotifierHost/Release/objmdl_contract_i.obj
/NotifierHost/Release/stdafx.obj
/NotifierHost/Release/viewmdl_contract_i.obj
/NotifierHost/jiraconnection_contract_i.c
/NotifierHost/jiraconnection_contract_i.h
/NotifierHost/jiraconnection_contract_p.c
/NotifierHost/notifierhost_contract_i.c
/NotifierHost/notifierhost_contract_i.h
/NotifierHost/notifierhost_contract_i_p.c
/NotifierHost/objmdl_contract_i.c
/NotifierHost/objmdl_contract_i.h
/NotifierHost/objmdl_contract_p.c
/NotifierHost/viewmdl_contract_i.c
/NotifierHost/viewmdl_contract_i.h
/NotifierHost/viewmdl_contract_i.p
/curl/build/Win32/VC12/LIB Release - LIB OpenSSL - LIB LibSSH2/lib/libcurl.log
/curl/build/Win32/VC12/LIB Release - LIB OpenSSL - LIB LibSSH2/lib/libcurl.tlog/cl.command.1.tlog
/curl/build/Win32/VC12/LIB Release - LIB OpenSSL - LIB LibSSH2/lib/libcurl.tlog/libcurl.lastbuildstate
/curl/build/Win32/VC12/LIB Release - LIB OpenSSL - LIB LibSSH2/lib/libcurl.tlog/unsuccessfulbuild
/NotifierHost/Debug/NotifierHost.tlog/unsuccessfulbuild
/NotifierHost/Release/JiraNotifier.Build.CppClean.log
/curl/build/Win32/VC12/Debug_XP/lib/libcurl.idb
/curl/build/Win32/VC12/Debug_XP/lib/libcurl.log
/curl/build/Win32/VC12/Debug_XP/lib/libcurl.tlog/libcurl.lastbuildstate
/curl/build/Win32/VC12/Debug_XP/lib/libcurl.tlog/unsuccessfulbuild
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/NativeCodeAnalysis.read.1.tlog
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/amigaos.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/asyn-ares.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/asyn-thread.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/axtls.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/base64.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/bundles.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/conncache.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/connect.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/content_encoding.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/cookie.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/curl_addrinfo.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/curl_darwinssl.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/curl_fnmatch.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/curl_gethostname.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/curl_gssapi.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/curl_memrchr.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/curl_multibyte.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/curl_ntlm.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/curl_ntlm_core.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/curl_ntlm_msgs.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/curl_ntlm_wb.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/curl_rtmp.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/curl_sasl.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/curl_sasl_sspi.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/curl_schannel.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/curl_sspi.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/curl_threads.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/cyassl.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/dict.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/dotdot.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/easy.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/escape.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/file.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/fileinfo.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/formdata.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/ftp.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/ftplistparser.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/getenv.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/getinfo.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/gopher.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/gskit.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/gtls.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/hash.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/hmac.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/hostasyn.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/hostcheck.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/hostip.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/hostip4.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/hostip6.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/hostsyn.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/http.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/http2.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/http_chunks.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/http_digest.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/http_negotiate.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/http_negotiate_sspi.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/http_proxy.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/idn_win32.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/if2ip.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/imap.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/inet_ntop.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/inet_pton.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/krb5.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/ldap.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/libcurl.idb
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/libcurl.log
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/libcurl.res
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/libcurl.tlog/CL.command.1.tlog
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/libcurl.tlog/CL.read.1.tlog
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/libcurl.tlog/CL.write.1.tlog
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/libcurl.tlog/Lib-link-cvtres.read.1.tlog
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/libcurl.tlog/Lib-link-cvtres.write.1.tlog
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/libcurl.tlog/lib.command.1.tlog
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/libcurl.tlog/libcurl.lastbuildstate
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/libcurl.tlog/rc.command.1.tlog
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/libcurl.tlog/rc.read.1.tlog
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/libcurl.tlog/rc.write.1.tlog
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/libcurld.Build.CppClean.log
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/llist.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/md4.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/md5.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/memdebug.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/mprintf.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/multi.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/netrc.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/non-ascii.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/nonblock.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/nss.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/nwlib.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/nwos.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/openldap.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/openssl.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/parsedate.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/pingpong.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/pipeline.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/polarssl.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/polarssl_threadlock.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/pop3.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/progress.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/qssl.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/rawstr.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/rtsp.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/security.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/select.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/sendf.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/share.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/slist.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/smtp.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/socks.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/socks_gssapi.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/socks_sspi.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/speedcheck.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/splay.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/ssh.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/strdup.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/strequal.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/strerror.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/strtok.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/strtoofft.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/telnet.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/tftp.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/timeval.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/transfer.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/url.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/vc.nativecodeanalysis.all.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/version.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/vtls.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/warnless.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/wildcard.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/lib/x509asn1.nativecodeanalysis.xml
/curl/build/Win32/VC12/LIB Debug - DLL Windows SSPI/libcurld.lib.lastcodeanalysissucceeded
/curl/build/Win32/VC12/LIB Release - DLL Windows SSPI/lib/libcurl.log
/curl/build/Win32/VC12/LIB Release - DLL Windows SSPI/lib/libcurl.res
/curl/build/Win32/VC12/LIB Release - DLL Windows SSPI/lib/libcurl.tlog/CL.read.1.tlog
/curl/build/Win32/VC12/LIB Release - DLL Windows SSPI/lib/libcurl.tlog/CL.write.1.tlog
/curl/build/Win32/VC12/LIB Release - DLL Windows SSPI/lib/libcurl.tlog/Lib-link-cvtres.read.1.tlog
/curl/build/Win32/VC12/LIB Release - DLL Windows SSPI/lib/libcurl.tlog/Lib-link-cvtres.write.1.tlog
/curl/build/Win32/VC12/LIB Release - DLL Windows SSPI/lib/libcurl.tlog/cl.command.1.tlog
/curl/build/Win32/VC12/LIB Release - DLL Windows SSPI/lib/libcurl.tlog/lib.command.1.tlog
/curl/build/Win32/VC12/LIB Release - DLL Windows SSPI/lib/libcurl.tlog/libcurl.lastbuildstate
/curl/build/Win32/VC12/LIB Release - DLL Windows SSPI/lib/libcurl.tlog/rc.command.1.tlog
/curl/build/Win32/VC12/LIB Release - DLL Windows SSPI/lib/libcurl.tlog/rc.read.1.tlog
/curl/build/Win32/VC12/LIB Release - DLL Windows SSPI/lib/libcurl.tlog/rc.write.1.tlog
/curl/build/Win32/VC12/Debug_XP/lib/libcurl.res
/curl/build/Win32/VC12/Debug_XP/lib/libcurl.tlog/CL.command.1.tlog
/curl/build/Win32/VC12/Debug_XP/lib/libcurl.tlog/CL.read.1.tlog
/curl/build/Win32/VC12/Debug_XP/lib/libcurl.tlog/CL.write.1.tlog
/curl/build/Win32/VC12/Debug_XP/lib/libcurl.tlog/Lib-link-cvtres.read.1.tlog
/curl/build/Win32/VC12/Debug_XP/lib/libcurl.tlog/Lib-link-cvtres.write.1.tlog
/curl/build/Win32/VC12/Debug_XP/lib/libcurl.tlog/lib.command.1.tlog
/curl/build/Win32/VC12/Debug_XP/lib/libcurl.tlog/rc.command.1.tlog
/curl/build/Win32/VC12/Debug_XP/lib/libcurl.tlog/rc.read.1.tlog
/curl/build/Win32/VC12/Debug_XP/lib/libcurl.tlog/rc.write.1.tlog
