/NotifierHost/Debug/AppSingleInstance.obj
/NotifierHost/Debug/AutostartManager.obj
/NotifierHost/Debug/JiraNotifier.Build.CppClean.log
/NotifierHost/Debug/JiraNotifier.log
/NotifierHost/Debug/JiraNotifier.pch
/NotifierHost/Debug/JiraNotifier.res
/NotifierHost/Debug/JiraNotifier.tlb
/NotifierHost/Debug/MainDlg.obj
/NotifierHost/Debug/NotifierHost.obj
/NotifierHost/Debug/NotifierHost.tlog/CL.read.1.tlog
/NotifierHost/Debug/NotifierHost.tlog/CL.write.1.tlog
/NotifierHost/Debug/NotifierHost.tlog/NotifierHost.lastbuildstate
/NotifierHost/Debug/NotifierHost.tlog/cl.command.1.tlog
/NotifierHost/Debug/NotifierHost.tlog/link.command.1.tlog
/NotifierHost/Debug/NotifierHost.tlog/link.read.1.tlog
/NotifierHost/Debug/NotifierHost.tlog/link.write.1.tlog
/NotifierHost/Debug/NotifierHost.tlog/midl.command.1.tlog
/NotifierHost/Debug/NotifierHost.tlog/midl.read.1.tlog
/NotifierHost/Debug/NotifierHost.tlog/midl.write.1.tlog
/NotifierHost/Debug/NotifierHost.tlog/rc.command.1.tlog
/NotifierHost/Debug/NotifierHost.tlog/rc.read.1.tlog
/NotifierHost/Debug/NotifierHost.tlog/rc.write.1.tlog
/NotifierHost/Debug/NotifierHost_i.obj
/NotifierHost/Debug/SettingsControl.obj
/NotifierHost/Debug/ShowWindowCommand.obj
/NotifierHost/Debug/jiraconnection_contract_i.obj
/NotifierHost/Debug/notifierhost_contract_i.obj
/NotifierHost/Debug/objmdl_contract_i.obj
/NotifierHost/Debug/stdafx.obj
/NotifierHost/Debug/vc120.idb
/NotifierHost/Debug/vc120.pdb
/NotifierHost/Debug/vc140.idb
/NotifierHost/Debug/vc140.pdb
/NotifierHost/Debug/viewmdl_contract_i.obj
/NotifierHost/JiraNotifier.aps
/NotifierHost/JiraNotifier.vcxproj.user
/NotifierHost/JiraNotifier_i.c
/NotifierHost/NotifierHost_i.c
/NotifierHost/NotifierHost_i.h
/NotifierHost/Release/AppSingleInstance.obj
/NotifierHost/Release/AutostartManager.obj
/NotifierHost/Release/JiraNotifier.log
/NotifierHost/Release/JiraNotifier.pch
/NotifierHost/Release/JiraNotifier.res
/NotifierHost/Release/JiraNotifier.tlb
/NotifierHost/Release/MainDlg.obj
/NotifierHost/Release/NotifierHost.obj
/NotifierHost/Release/NotifierHost.tlog/CL.read.1.tlog
/NotifierHost/Release/NotifierHost.tlog/CL.write.1.tlog
/NotifierHost/Release/NotifierHost.tlog/NotifierHost.lastbuildstate
/NotifierHost/Release/NotifierHost.tlog/cl.command.1.tlog
/NotifierHost/Release/NotifierHost.tlog/link.command.1.tlog
/NotifierHost/Release/NotifierHost.tlog/link.read.1.tlog
/NotifierHost/Release/NotifierHost.tlog/link.write.1.tlog
/NotifierHost/Release/NotifierHost.tlog/midl-midlc-cl.read.1.tlog
/NotifierHost/Release/NotifierHost.tlog/midl-midlc-cl.write.1.tlog
/NotifierHost/Release/NotifierHost.tlog/midl-midlc.read.1.tlog
/NotifierHost/Release/NotifierHost.tlog/midl-midlc.write.1.tlog
/NotifierHost/Release/NotifierHost.tlog/midl.command.1.tlog
/NotifierHost/Release/NotifierHost.tlog/midl.read.1.tlog
/NotifierHost/Release/NotifierHost.tlog/midl.write.1.tlog
/NotifierHost/Release/NotifierHost.tlog/rc.command.1.tlog
/NotifierHost/Release/NotifierHost.tlog/rc.read.1.tlog
/NotifierHost/Release/NotifierHost.tlog/rc.write.1.tlog
/NotifierHost/Release/NotifierHost.tlog/unsuccessfulbuild
/NotifierHost/Release/NotifierHost_i.obj
/NotifierHost/Release/SettingsControl.obj
/NotifierHost/Release/ShowWindowCommand.obj
/NotifierHost/Release/jiraconnection_contract_i.obj
/NotifierHost/Release/notifierhost_contract_i.obj
/NotifierHost/Release/objmdl_contract_i.obj
/NotifierHost/Release/stdafx.obj
/NotifierHost/Release/viewmdl_contract_i.obj
/NotifierHost/jiraconnection_contract_i.c
/NotifierHost/jiraconnection_contract_i.h
/NotifierHost/jiraconnection_contract_p.c
/NotifierHost/notifierhost_contract_i.c
/NotifierHost/notifierhost_contract_i.h
/NotifierHost/notifierhost_contract_i_p.c
/NotifierHost/objmdl_contract_i.c
/NotifierHost/objmdl_contract_i.h
/NotifierHost/objmdl_contract_p.c
/NotifierHost/viewmdl_contract_i.c
/NotifierHost/viewmdl_contract_i.h
/NotifierHost/viewmdl_contract_i.p
/curl/build/Win32/VC12/LIB Release - LIB OpenSSL - LIB LibSSH2/lib/libcurl.log
/curl/build/Win32/VC12/LIB Release - LIB OpenSSL - LIB LibSSH2/lib/libcurl.tlog/cl.command.1.tlog
/curl/build/Win32/VC12/LIB Release - LIB OpenSSL - LIB LibSSH2/lib/libcurl.tlog/libcurl.lastbuildstate
/curl/build/Win32/VC12/LIB Release - LIB OpenSSL - LIB LibSSH2/lib/libcurl.tlog/unsuccessfulbuild
